<div class="container w-100 bg-light text-dark py-4" style="max-width: 100%;">
  <div class="row mt-5 mx-5">
    <div class="col-6 col-md">
      <h5>特徴</h5>
      <ul class="list-unstyled text-small ">
        <li><a class="link-secondary text-dark" href="/">Top</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>リソース</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-dark" href="準備中">リンク</a></li>
        <li><a class="link-secondary text-dark" href="準備中">リンク</a></li>
        <li><a class="link-secondary text-dark" href="準備中">リンク</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>リソース</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-dark" href="準備中">リンク</a></li>
        <li><a class="link-secondary text-dark" href="準備中">リンク</a></li>
        <li><a class="link-secondary text-dark" href="準備中">リンク</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>サイトについて</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-dark" href="準備中">Company</a></li>
        <li><a class="link-secondary text-dark" href="準備中">Privacy</a></li>
        <li><a class="link-secondary text-dark" href="準備中">Terms</a></li>
      </ul>
    </div>
  </div>

  <!-- コピーライトをcontainer内に -->
  <div class="row">
    <div class="col-12 text-center mt-4">
      <small class="text-dark">&copy; 2025–{% now "Y" %} NAGOYAMESHI</small>
    </div>
  </div>
</div>
